$nav_bar_width: 200px; 
@import './utilities.scss';
@import './dashboard.nav.scss';
@import './dashboard.header.scss';
@import './dashboard.sent.list.scss';
@import './dashboard.sent.cmd.scss';
@import './invoice.scss';
@import './dashboard_layout.scss';
@import './client-dialog.scss';

#app-container {
	height: 100vh;
}

.signup-box {
	width: 400px;
}

.login-box {
	width: 400px;
	.login-return-msg-box {
		padding: 15px;
	}
}

