$nav_bar_width: 220px; 
@import './utilities.scss';
@import './nav_region.scss';
@import './dashboard.header.scss';
@import './sent-list.scss';
@import './sent-cmd.scss';
@import './invoice.scss';


#app-container {
	height: 100vh;
}

.signup-box {
	width: 400px;
}

.login-box {
	width: 400px;
	.login-return-msg-box {
		padding: 15px;
	}
}

// dashboard layout
.dashboard {
	height: 100vh;

	#vs-nav-region {
		.nav-layout {

			float: left; 
			width: $nav_bar_width;
			height: 100vh;
		}
	}
	.main-wrapper {
		margin-left: $nav_bar_width;
		height: 100vh;
		#vs-header-region {
			height: 65px;
			border-bottom: 1px solid rgba(0,0,0,.05);
		}
		#vs-content-region {
			top: 65px;
			bottom: 0;
		}
		
	}
}