<div>
	<!-- <h3>this is big header</h3> -->
	
	<div class="vs-logo">
	<!-- 	<object data="./spider-web.svg" type="image/svg+xml">
		</object> -->

		<!-- <img src="favicon.ico" alt=""> -->
		<img src="./spider-web.svg" alt="triangle with all three sides equal">
	</div>
	<div class="company">
		<div class="name" id="company-name">
			Orange Meerkat Web Design
		</div>
		<div class="address">
			<span class="line1">
				1288 Crestview Manor
			</span>,
			<span class="line2">
				
			</span>
			<span class="city">Indianapolis</span>,
			<span class="state">Indiana</span>
			<span class="zip">46241</span>

			
		</div>
	</div>
	<div class="user v-center">
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    111@111.com
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</div>
	</div>
</div>