<div>
	<div class="dashboard">
		<header id="vs-header-region" class="">
			vitaSpider header
		</header><!-- /header -->
		<main class="main-wrapper">
			<nav id="vs-nav-region">
			<!-- nav menu goes here -->
			</nav>
			<div id="vs-content-region">
				<div>
					This is content
					<iframe src="spider-web.svg" width="200" height="200" ></iframe>

				
						<object  type="image/svg+xml" data="/spider-web.svg">
						  <img src="yourfallback.jpg" />
						</object>
					
					fdsafdasfads
					<object id="E" type="image/svg+xml" data="spider-web.svg" width="320" height="240">
					 <param name="src" value="spider-web.svg">
					</object>


					<embed type="image/svg+xml" src="spider-web.svg" />




				</div>
			</div>
		</main>
		<div id="vs-modal">
			
		</div>
	</div>
</div>