<div>
	<ul class="new-invoice-wrapper">
		<li class="btn-wrapper"><a class="btn btn-default new-btn" href="#" title="">New</a></li>
	</ul>
	<ul class="menu-list">
		<li class="menu-item" id="sent"><a href="/#/dashboard/sent" id="sent-link">Sent</a></li>
		<li class="menu-item" id="received"><a href="#" id="received-link">Received</a></li>
	</ul>
	<ul class="menu-list">
		<li class="menu-item" id="clients"><a href="#" id="clients-link">Clients</a></li>
		<li class="menu-item" id="vendors"><a href="#" id="vendors-link">Vendors</a></li>
	</ul>
</div>