<div>
	<div class="signup-box hv-center-no-shift">
		<h1>vitaSpider Signup</h1>
		<form>
		  <div class="form-group">
		    <label for="InputEmail" class="control-label">Email address</label>
		    <input type="email" class="form-control" id="InputEmail" placeholder="Email" novalidate>
		  </div>
		  <div class="form-group">
		    <label for="InputPassword1" class="control-label">Password</label>
		    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="InputPassword2" class="control-label">Password Repeat</label>
		    <input type="password" class="form-control" id="InputPassword2" placeholder="Password Repeat">
		  </div>	
		  <button type="submit" class="btn btn-primary" id="signup-submit">Signup</button>
		  <a href="#">Forget Password</a>
		</form>
	</div>
</div>